body {
  background-color: #fffef2;
}

.nav-img img {
  height: 20px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding-top: 20px;
}

.text {
  text-align: center;
  padding: 30px;
  line-height: 30px;
}

.events {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 30px;
}

.eventPil {
  width: 5%;
}

.testimonial {
  display: flex;
  padding: 10px;
}

.testimonial h2 {
  font-size: 20px;
}

p.name {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.testimonalImg {
  padding-top: 50px;
  padding-bottom: 20px;
}

img.deliImg {
    width: 100%;
}

h2.deliText {
  padding: 30px;
  text-align: center;
}

.partnerImg {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 20px;
}