* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "aviano-sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h1 {
  font-size: 35px;
}

h4 {
  font-size: x-small;
}

p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 12px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  line-height: 100px;
  width: 100%;
}

nav a {
  text-decoration: none;
  color: rgb(255, 254, 254);
  padding: 0px 30px;
  font-family: "aviano-sans", sans-serif;
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
}

.forside {
  background-image: url("/img/index-wine.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
}

.forside1 {
  background-image: url("/img/forside-deli.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
}

@media (min-width: 1024px) {
  img {
    width: 100%;
  }
  .body {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .forside {
    height: 100vh;
    width: 100%;
    align-items: center;
  }

  .forside1 {
    height: 100vh;
    width: 100%;
    justify-content: center;
  }
}
