---
import "../styles/deli.css";
import "../styles/mutual.css";
import Button from "../component/Button.astro";
import Card from "../component/Card.astro";
import Footer from "../component/Footer.astro";
import Form from "../component/Form.astro";
import Testimonial from "../component/Testimonial.astro";

const url = "https://lytiiyuaxzhfwzaykkar.supabase.co/rest/v1/omada";
const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx5dGlpeXVheHpoZnd6YXlra2FyIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg3ODY2MDgsImV4cCI6MTk5NDM2MjYwOH0.qA8kHlhJamX17bRpM-4rETSyqjgAIxwx_spo7qHeWuo";

const response = await fetch(url, {
  method:"GET",
  headers: {
    apikey: key,
    'Accept' : 'application/json',
    'Content-Type' : 'application/json'
  },
});

const udsagn = await response.json();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.typekit.net/aqy4phb.css" />
    <title>Astro</title>
  </head>
  <body>
    <header>
      <section class="deliNav">
        <h1>OMADA.DELI</h1>
        <div class="nav-img">
          <img src="/img/search.webp" />
          <img src="/img/person.png" />
          <img src="/img/shopping-cart.png" />
          <img src="/img/favorit.png" />
        </div>
      </section>

      <section class="forside1">
        <nav>
          <ul>
            <li>
              <a href="/deli"> EVENTS</a>
            </li>
            <li>
              <a href="/deli"> TESTIMONIALS</a>
            </li>
            <li>
              <a href="/deli"> GOODS</a>
            </li>
            <li>
              <a href="/deli"> PARTNERS</a>
            </li>
          </ul>
        </nav>
      </section>

      <section class="navigation">
        <h1>OMADA.DELI</h1>
        <div>
          <nav>
            <ul>
              <li>
                <a href="/deli"> EVENTS</a>
              </li>
              <li>
                <a href="/deli"> TESTIMONIALS</a>
              </li>
              <li>
                <a href="/deli"> GOODS</a>
              </li>
              <li>
                <a href="/deli"> PARTNERS</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="nav-img">
          <img src="/img/search.webp" />
          <img src="/img/person.png" />
          <img src="/img/shopping-cart.png" />
          <img src="/img/favorit.png" />
        </div>
      </section>

      <section class="text">
        <div class="billede">
          <img src="/img/cheese.jpg" />
        </div>
        <div class="front">
          <h2>A MEETING <br />PLACE FOR<br /> ØSTERBRO <br />LOCALS</h2>
          <h4>(AND ANYONE ELSE).</h4>
          <Button text="Curious? Have a closer look" />
        </div>
      </section>

      <hr />
      <section class="text1">
        <h2>NEWS & EVENTS</h2>
        <h4>WE CAN'T WAIT TO HOST YOU, YOUR FRIENDS & FAMILY.</h4>
      </section>

      <section class="events">
        <Card img="/img/event.jpg" text="Social Dining Event" />
        <Card img="/img/dining-1.jpg" text="Social Dining Event" />
        <Card img="/img/dining-2.jpg" text="Social Dining Event" />
        <Card img="/img/dining-3.jpg" text="Social Dining Event" />
      </section>

      <hr />

      <h2 class="deliText">DELI GOODS</h2>

      <hr />

      <article class="grid_1_1">
        <img src="/img/deli-goods.jpg" class="deliImg" alt="cheese" />
        <div class="grid_1_1_text">
          <div>
            <h2>WE GOT JUST WHAT YOU <br /> NEED</h2>
            <h4>(AND CRAVE).</h4>
          </div>
          <p>
            Thirsty? Peckish? Curious? We’ve got you covered! Omada Wine & Deli
            feeds your simple needs for life’s better necessities; wine & food.
          </p>
        </div>
        <Button text="Read more" />
      </article>
{
      udsagn.map((testimonial) => {
        return <Testimonial name={testimonial.name} overskrift ={testimonial.overskrift} text = {testimonial.text} />
      })
}
      <Button text="Read testimonial" />
      <Form />
      <img src="/img/event-2.jpg" class="testimonalImg" alt="event" />

      <h2 class="deliText">PARTNERS</h2>

      <hr />
      <img src="/img/partners.png" class="partnerImg" alt="partnere" />

      <!-- <section class="events"></section> -->
      <hr />
      <footer>
        <Footer />
      </footer>
    </header>
  </body>
</html>

<script></script>
