---
const { text } = Astro.props;
---

<section>
  <p>{text}</p>
  <img src="/img/arrow.png" alt="" />
</section>

<style>
  section {
    display: flex;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    width: 45%;
    margin: 0 auto;
    padding: 10px;
  }

  img {
    width: 20%;
  }
</style>
