---
const { text, img } = Astro.props;
---

<section>
  <img src={img} alt="events" />
  <div>
    <p>{text}</p>
    <img src="/img/arrow.png" class="pil" alt="" />
  </div>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
  }

  div {
    border: 1px solid black;
    align-items: center;
    padding: 10px;
  }

  img {
    width: 100%;
  }

  .pil img {
    width: 20%;
  }
</style>
