---
---

<footer class="footer">
  <div class="footer-col" id="venstre">
    <h1>CONTACT</h1>
    <h3>Øster Farimagsgade 26</h3>
    <h3>2100 København Ø</h3>
    <h3>email: hello@omada.wine</h3>
  </div>

  <div class="some">
    <h1>FIND US</h1>
    <a href="https://www.instagram.com/omada.wine/"
      ><img src="/img/instagram.png" alt="" height="50" width="50" /></a
    >
    <a href="https://www.facebook.com/omada.wine"
      ><img src="/img/fb.png" alt="" height="50" width="50" /></a
    >
  </div>
</footer>
<div class="footer-col" id="hojre"></div>

<style>
  /* p,
  h3 {
    color: black;
    font-size: 12px;
  } */

  .footer {
    padding: 20px 0;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 15px;
  }

  .footer-col {
    /* text-align: center; */
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 30%;
  }

  .footer-col a {
    text-decoration: none;
    color: white;
    font-family: "orpheuspro", serif;
    font-weight: 400;
    font-style: normal;
  }

  .some {
    /* display: flex;
      justify-content: center; */
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
  }
</style>
