---
---
<section>
<h2>WANT TO SHARE<br>YOUR EXPERIENCE<br> WITH THE WORLD,<br>TOO?</h2>
<form>
  <label for="name">Name:</label>
  <input type="text" name="name" required />
  <label for="overskrift">Title</label>
  <input type="text" name="overskrift" required />
  <label for="text">Message</label>
  <input type="text" name="text" required />
  <button>Send</button>
</form>
</section>

<script>
  const url = "https://lytiiyuaxzhfwzaykkar.supabase.co/rest/v1/omada";
  const key =
    "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx5dGlpeXVheHpoZnd6YXlra2FyIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg3ODY2MDgsImV4cCI6MTk5NDM2MjYwOH0.qA8kHlhJamX17bRpM-4rETSyqjgAIxwx_spo7qHeWuo";

  const form = document.querySelector("form");
  form.addEventListener("submit", sendForm);

  function sendForm(event) {
    event.preventDefault();
    const formData = form.elements;
    let name = formData.name.value;
    let text = formData.text.value;
    let overskrift = formData.overskrift.value;

    console.log(formData.name.value);

    fetch(url, {
      method: "POST",
      headers: {
        apikey: key,
        'Accept': 'application/json',
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({name, text, overskrift}),
    });
  }
</script>

<style>
section {
  display: grid;
  grid-template-columns: 1fr;
}
form {
    display: grid;
    grid-template-columns: 1fr;
    font-family: "aviano-sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

input {
  width: 75%;
}

h2 {
  text-align: center;
}
  button {
    font-family: "aviano-sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding-left: 20px;
    padding-right: 20px;
  }

/* @media (min-width: 1024px) {
  form {
    display: flex;
    justify-content: center;
    font-family: "aviano-sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding-top: 20px;
    gap: 15px;
  }

  button {
    font-family: "aviano-sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding-left: 20px;
    padding-right: 20px;
  }
} */
</style>
