---

---


<section class="splash">
  
       
        <lottie-player id="left" src="https://assets5.lottiefiles.com/packages/lf20_M4rAkF.json"  background="transparent" ></lottie-player>
 
       
        <lottie-player id="right" src="https://assets5.lottiefiles.com/packages/lf20_M4rAkF.json"  background="transparent" ></lottie-player>
  
</section>

<style>
    .splash {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

</style>
 <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
 <script src="https://unpkg.com/@lottiefiles/lottie-interactivity@latest/dist/lottie-interactivity.min.js"></script>

<script>
LottieInteractivity.create({
    player:'#right',
    mode:"cursor",
    actions: [
        {
            type: "hover",
            forceFlag: false
        }
    ]
});
</script>