---
import Button from "./Button.astro";

const { overskrift, name, text } = Astro.props;
---

<!-- <img src="/img/event-1.jpg" class="testimonalImg" alt="event" /> -->
<p class="name">Written by {name}</p>
  <article class="testimonial">
    <img src="/img/pil-v.png" class="eventPil" alt="" />
    <h2>"{overskrift}..."</h2>
    <img src="/img/pil-h.png" class="eventPil" alt="" />
  </article>
  <hr>

